<h1>Friend Tracker</h1>
<div>
  <app-profile-info
    name="Brittani Lovelace"
    profilePictureUrl="assets/Brittani headshots.jpg"
    [age]="32"
    bio="I am an aspiring software developer with a passion for learning new skills in tech to grow in the industry.I also enjoy playing video games."
    birthday="February 27, 1993"
    [interests]="['Video Games', 'Software Development', 'Learning']"
  ></app-profile-info>
  <app-profile-info
    [name]="personName"
    profilePictureUrl="assets/Alyssa.jpg"
    [age]="22"
    bio="I like photography and I am passionate about Theater."
    birthday="October 31, 2002"
    [interests]="['Photography', 'Theater']"
  ></app-profile-info>
</div>

